[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.3.1"
jupyter = "*"
gunicorn = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
